<!DOCTYPE html>
<html>

<head>
  <% var meta={ path: "../../",title: 'CULTURE' , description: 'description' , keywords: 'keywords' , og : { url: ``, iamge: '' } } -%>
  <%- include(`${ROOT}_common/_head`, { meta: meta }) %>
</head>

<body>
  <%- include(`${ROOT}_common/_header.ejs`, {path: meta.path}) %>
  <!-- contents start -->

  <section class="p-culture">
    <div class="max-inner">
      <h1 class="u-title-medium ta-c mb-10 mb-sp-0">CULTURE</h1>
      <p class="mb-sp-40 ta-c u-lead01">カルチャー</p>
      </div>
      </section>

      <section class="p-culture-value is-bg-base-blue is-text-white">
        <div class="p-people-value__inner">
                <div class="p-culture__content mt-20">
                    <ul class="p-people-value__items">
                        <li class="p-people-value__item">
                            <div class="p-people-value__item-icon p-people-value__item-icon1">
                                <%- img("icon_value", "Believe in Data", "value", "svg") %>
                            </div>
                            <p class="p-people-value__item-text font-accent">Believe in Data</p>
                        </li>
                        <li class="p-people-value__item">
                            <div class="p-people-value__item-icon p-people-value__item-icon2">
                                <%- img("icon_value2", " Focus", "value", "svg") %>
                            </div>
                            <p class="p-people-value__item-text font-accent">Focus on Impact and<br>
                                Decide What You Do Not Do</p>
                        </li>
                        <li class="p-people-value__item">
                            <div class="p-people-value__item-icon p-people-value__item-icon3">
                                <%- img("icon_value3", "Move", "value", "svg") %>
                            </div>
                            <p class="p-people-value__item-text font-accent">Move Fast and<br>
                                Break Things</p>
                        </li>
                        <li class="p-people-value__item">
                            <div class="p-people-value__item-icon p-people-value__item-icon4">
                                <%- img("icon_value4", "Respect", "value", "svg") %>
                            </div>
                            <p class="p-people-value__item-text font-accent white-space-no">Respect Open<br> 
                                Communications and Feedback</p>
                        </li>
                        <li class="p-people-value__item">
                            <div class="p-people-value__item-icon p-people-value__item-icon5">
                                <%- img("icon_value5", "One for All,All for One Goal", "value", "svg") %>
                            </div>
                            <p class="p-people-value__item-text font-accent">One for All,<br> 
                                All for One Goal</p>
                        </li>
                    </ul>
                </div>
        </div>
        <div class="max-inner03 mt-66 mt-sp-75">
            <p class="u-text10 ta-c">フライウィールでは上記5つのValuesを日常の業務やコミュニケーションの中で<br class="is-sp">常に意識して行動しています。<br>
                Valuesの再認識、特に「Respect Open Communications and feedback」に焦点を当て<br class="is-pc">コミュニケーション活性化を目的とした多くの企画を実施しています。<br>
                この取り組みにより、関係の質を高め、<br class="is-sp">
                思考・行動・結果の質を向上させることで、<br>
                会社・自身両方の成長サイクルを<br class="is-sp">促進させています。<br>
                また、企画の中では、経営陣からのメッセージ及び各部門の状況をタイムリーに共有することで、<br class="is-pc">透明性の高い会社運営も目指しています。</p>
        </div>
    </section>

    <section class="p-culture__wrapper pt-sp-90">
        <h2 class="p-culture__tittle ta-c mb-sp-30 mb-35">All Hands</h2>
        <div class="p-culture__inner">
        <div class="p-culture-slider">
            <div class="p-culture-slider__item">
                <%- img("all-hands", "all-hands", "culture", "jpg") %>
            </div>
            <div class="p-culture-slider__item">
                <%- img("all-hands2", "all-hands2", "culture", "jpg") %>
            </div>
            <div class="p-culture-slider__item">
                <%- img("all-hands3", "all-hands3", "culture", "jpg") %>
            </div>
        </div>
        </div>
        <p class="p-culture__text mt-45 mt-sp-70 pl-28 pr-28">半期に一度(6月・12月)、会社のOKRに即した、ビジネスレビューやエンジニアからのプロダクトデモの紹介を通して、<br class="is-pc">短期的なビジネス状況の理解はもちろんのこと、長期的な会社戦略・理解深化の場として開催をしています。<br class="is-pc">リアルタイムで経営陣に質問をすることも可能で、相互コミュニケーションの場にもなっています。<br class="is-pc">また、半期に一度MissionやValuesを体現し活躍した社員を表彰するFLYAWARDやINNOVATION AWARDを設けています。</p>
        <a href="" class="c-btn mt-40 mx-auto blue">詳しく見る</a>
    </section>

    <section class="p-culture__week">
        <h2 class="p-culture__tittle ta-c mb-sp-15 mb-40">Weekly MeetUp</h2>
        <p class="p-culture__text pl-28 pr-28">毎週1回、全社員向けに事業進捗や連絡事項を共有することで会社の現状をタイムリーに<br class="is-pc">
            把握できる場となっています。これによりPDCAサイクルの効率化を促すだけでなく<br class="is-pc">
            経営陣との交流も図っています。</p>
            <a href="" class="c-btn mt-40 mx-auto blue">詳しく見る</a>
    </section>

    <section class="p-culture__week">
        <h2 class="p-culture__tittle ta-c mb-sp-30 mb-35">Weekly 1on1</h2>
        <div class="p-culture__week-img mb-sp-15 mb-35">
            <%- img("weekly1on1", "weekly1on1", "culture", "jpg") %>
        </div>
        <p class="p-culture__text pl-28 pr-28">社員一人ひとりがパフォーマンスを最大限発揮できるよう、<br class="is-pc">
            主に上司やマネージャーとメンバーが週に1回、1対1で対話するミーティングを実施しています。<br class="is-pc">
            OKRに沿った個人目標の達成状況と課題解決支援の場としてだけではなく、<br class="is-pc">レビューとフィードバックのサイクルを効果的に回す役割も果たしており、個人の成長に大きく寄与しています。</p>
            <a href="" class="c-btn mt-40 mx-auto blue">詳しく見る</a>
    </section>

    <section class="p-culture__week">
        <h2 class="p-culture__tittle ta-c mb-sp-30 mb-30">Offsite</h2>
        <div class="p-culture__inner">
        <div class="p-culture-slider">
            <div class="p-culture-slider__item">
                <%- img("offsite", "offsite", "culture", "jpg") %>
            </div>
            <div class="p-culture-slider__item">
                <%- img("offsite2", "offsite", "culture", "jpg") %>
            </div>
            <div class="p-culture-slider__item">
                <%- img("offsite3", "offsite", "culture", "jpg") %>
            </div>
        </div>
        </div>
        <p class="p-culture__text mt-45 mt-sp-70 pl-28 pr-28">チームビルディングを目的として適宜開催をしています(不定期開催)。<br class="is-pc">アクティビティやワークショップ等、普段とは異なる雰囲気・環境の中、<br class="is-pc">チームゴール達成・相互理解を深める場となっています。</p>
    </section>

    <section class="p-culture__week">
        <h2 class="p-culture__tittle ta-c mb-sp-20 mb-30">TGIF・3時のおやつ</h2>
        <div class="p-culture__week-img">
            <%- img("tech-talk", "Tech Talk", "culture", "jpg") %>
        </div>
        <p class="p-culture__text mt-40 mt-sp-10 pl-28 pr-28">毎月第2・第4金曜日の夕方にTGIF、毎週1回の3時のおやつを実施しています。<br class="is-pc">部署や雇用形態を超えた社員交流を通じて、関係の質向上を目的とする全社イベント。<br class="is-pc">新入社員の自己紹介、アニバーサリー（入社◯周年）の発表、<br class="is-pc">Valueを体現したメンバーに送られた”Shoutout”（賞賛コメント）の発表や、スピーカー持ち寄りのフリートークなど、<br class="is-pc">楽しみながらメンバー同士の交流を深めるべく趣向を凝らしたゲーム等コンテンツを企画・運営しています。</p>
        <a href="" class="c-btn mt-40 mx-auto blue">詳しく見る</a>
    </section>

    <!-- <section class="p-culture__week">
        <h2 class="p-culture__tittle ta-c mb-sp-30 mb-40">Employee Voluntary Group<br class="is-sp">(EVG)</h2>
        <div class="p-culture__week-img">
            <%- img("weekly1on1", "weekly1on1", "culture", "jpg") %>
        </div>
        <p class="p-culture__text pl-28 pr-28 mt-30 mt-sp-15">社内のカルチャー情勢・浸透を促進することを目的に、Engineer・Busineess・Corporate<br class="is-pc">3つの部門から有志で1名ずつ社員が集い、課題解決に向けてボトムアップ型で取り組んでいます。<br class="is-pc">エンターテインメント性の高いものから学びの多いものまで、<br class="is-pc">趣向を凝らした企画で社内コミュニケーションの活性化を実現しています。</p>
    </section> -->

    <section class="p-culture__week">
        <h2 class="p-culture__tittle ta-c mb-sp-30 mb-35">Tech Talk</h2>
        <div class="p-culture__week-img">
            <%- img("tech-talk", "Tech Talk", "culture", "jpg") %>
        </div>
        <p class="p-culture__text pl-28 pr-28 mt-30 mt-sp-10">エンジニアのナレッジ共有・発信の場として社内外向けTechTalkを実施することで、<br class="is-pc">各個人の学習・成長意欲を更に加速させると同時に、<br class="is-pc">「One for All, All for One Goal」を日頃から体現しています。</p>
        <a href="" class="c-btn mt-40 mx-auto blue">詳しく見る</a>
    </section>
    <!-- contents end -->
    <%- include(`${ROOT}_common/_footer.ejs`,{path: meta.path}) %>
    <%- include(`${ROOT}_common/_script.ejs`, {path: meta.path}) %>
</body>

</html>