<%- include(`${ROOT}_include/_img`) %>
<!DOCTYPE html>
<html>

<head>
  <% var meta={ path: "../../",title: 'JOB OPENING' , description: 'description' , keywords: 'keywords' , og : { url: ``, iamge: '' } } -%>
  <%- include(`${ROOT}_common/_head`, { meta: meta }) %>
</head>

<body>
  <%- include(`${ROOT}_common/_header.ejs`, {path: meta.path}) %>
  <!-- contents start -->

  <section class="pt-160 pb-sp-20">
    <div class="max-inner">
      <h1 class="u-title-medium ta-c mb-10 mb-sp-0">JOB OPENING</h1>
      <p class="ta-c u-lead01">募集職種</p>
      </div>
      </section>

      <section class="p-jobs">
        <div class="p-jobs__inner pl-sp-28 pr-sp-28">
            <div class="p-jobs__contents">
                <div class="p-jobs__content">
                    <ul class="p-jobs__items">
                        <li class="p-jobs__item">
                            <h2 class="p-jobs__tittle">ENGINEER</h2>
                            <div class="p-jobs__img">
                                <%- img("engineer", "engineer", "job", "jpg") %>
                            </div>
                            <div class="p-jobs__wrap">
                            <p class="p-jobs__text">「データを人々のエネルギーに」というミッションを掲げる我々フライウィール。データソリューションプロバイダーとして安定した価値を提供し続け、サイロ化された大規模なデータを連動/統合することで全社横断的な最適解を導き出し、データに基づいた業務遂行を実現することで「売上拡大」「コスト削減」「生産性アップ」といった事業成長に貢献するソリューションを、ビジネスサイドとともに導き出すデータの専門家が集まっています。</p>
                            <div class="p-jobs__btn">
                                <a href="/careers/people/" class="c-btn blue">
                                    <span>社員インタビュー</span>
                                </a>
                                <a href="https://hrmos.co/pages/flywheel/jobs?category=1804062742203224064" target="_blank" class="c-btn c-btn-icon"><span>募集職種一覧</span><span class="out-tab">
                                    <picture>
                                      <source srcset="/assets/img/top/tab-icon.svg">
                                      <img src="/assets/img/top/tab-icon.svg" alt="外部タブアイコン" loading="lazy">
                                    </picture>
                                  </span></a>
                            </div>
                        </div>
                        </li>
                        <li class="p-jobs__item">
                            <h2 class="p-jobs__tittle">BUSINESS</h2>
                            <div class="p-jobs__img">
                                <%- img("business", "business", "job", "jpg") %>
                            </div>
                            <div class="p-jobs__wrap">
                            <p class="p-jobs__text">IT、EC、小売、通信、製造、鉄道、建設等あらゆる業界の課題を、データと機械学習の力で解決するプラットフォームを提供するフライウィール。ビジネス部門のミッションは、顧客とフライウィールとがwin-winになるような「事業の創出・確立・価値の拡大」です。大規模なデータを持つエンタープライズ企業との事業開発をデータを起点に推進すべく、日々挑戦を続けています。</p>
                            <div class="p-jobs__btn">
                                <a href="/careers/people/" class="c-btn blue">
                                    <span>社員インタビュー</span>
                                </a>
                                <a href="https://hrmos.co/pages/flywheel/jobs?category=1804062742203224065" target="_blank" class="c-btn c-btn-icon"><span>募集職種一覧</span><span class="out-tab">
                                    <picture>
                                      <source srcset="/assets/img/top/tab-icon.svg">
                                      <img src="/assets/img/top/tab-icon.svg" alt="外部タブアイコン" loading="lazy">
                                    </picture>
                                  </span></a>
                            </div>
                            </div>
                        </li>
                        <li class="p-jobs__item">
                            <h2 class="p-jobs__tittle">CORPORATE</h2>
                            <div class="p-jobs__img">
                                <%- img("corporate", "corporate", "job", "jpg") %>
                            </div>
                            <div class="p-jobs__wrap">
                            <p class="p-jobs__text">組織・ビジネスの拡大が急速に進むフライウィール。人・組織的に再現・拡大可能な基礎を作るべく、多方面から組織の成長を促進する組織の要です。採用、労務、総務、経理財務はもちろんのこと、会社に欠かせないカルチャーの醸成・浸透もCorporateチームが主体となって全職種・部署を巻き込んで行っています。社員が安心して高いパフォーマンスを出すことに集中してもらえるように、組織の拡大に合わせた基盤創りをリードしています。</p>
                            <div class="p-jobs__btn">
                                <a href="/careers/people/" class="c-btn blue">
                                    <span>社員インタビュー</span>
                                </a>
                                <a href="https://hrmos.co/pages/flywheel/jobs?category=1804062742203224066" target="_blank" class="c-btn c-btn-icon"><span>募集職種一覧</span><span class="out-tab">
                                    <picture>
                                      <source srcset="/assets/img/top/tab-icon.svg">
                                      <img src="/assets/img/top/tab-icon.svg" alt="外部タブアイコン" loading="lazy">
                                    </picture>
                                  </span></a>
                            </div>
                            </div>
                        </li>
                        <li class="p-jobs__item">
                            <h2 class="p-jobs__tittle">INTERNSHIP & STUDENT <br class="is-sp">PART-TIME</h2>
                            <div class="p-jobs__img">
                                <%- img("intern", "intern", "job", "jpg") %>
                            </div>
                            <div class="p-jobs__wrap">
                            <p class="p-jobs__text">私たちが目指すのは、データを循環させて価値に貢献できるような世界観です。それを実現するためには、お客様に届ける価値全体をプロダクトと捉え、顧客のビジネス最大化に向けてどのような機能や仕組みがあれば最適解を導き出せるのかという難問に対し、データや技術、これまでのビジネスの知見をベースに取り組むことが必要です。実践的な環境で多様なステークホルダーとともにエンジニアリング・ビジネスグロースを体感してみませんか？</p>
                            <div class="p-jobs__btn">
                                <a href="/careers/people/" class="c-btn blue">
                                    <span>社員インタビュー</span>
                                </a>
                                <a href="" target="_blank" class="c-btn c-btn-icon"><span>募集職種一覧</span><span class="out-tab">
                                    <picture>
                                      <source srcset="/assets/img/top/tab-icon.svg">
                                      <img src="/assets/img/top/tab-icon.svg" alt="外部タブアイコン" loading="lazy">
                                    </picture>
                                  </span></a>
                            </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      </section>
   
    <!-- contents end -->
    <%- include(`${ROOT}_common/_footer.ejs`,{path: meta.path}) %>
    <%- include(`${ROOT}_common/_script.ejs`, {path: meta.path}) %>
</body>

</html>