<footer class="l-footer">
  <div class="max-inner">
    <div class="d-pc-flex justify-btw">
      <div class="l-footer__left">
        <ul class="l-footer__sns d-flex align-center mb-23 mb-sp-32">
          <li>
            <a href="https://www.linkedin.com/company/flywheel-jp/" target="_blank">
              <%- img("linkedin-icon", "LinkedIn", "common", "svg") %>
            </a>
          </li>
          <li class="ml-23 ml-sp-30">
            <a href="https://twitter.com/flywheel_jp" target="_blank">
              <%- img("twitter-icon", "Twitter", "common", "svg") %>
            </a>
          </li>
          <li class="ml-23 ml-sp-25">
            <a href="https://www.facebook.com/flywheel.jp/" target="_blank">
              <%- img("facebook-icon", "Facebook", "common", "svg") %>
            </a>
          </li>
        </ul>
        <div class="d-pc-flex align-center mb-sp-40">
          <p class="l-footer__copyright is-pc">© 2018 FLYWHEEL, Inc. All Rights Reserved</p>
          <p class="ml-30 l-footer__link mb-sp-20 ml-sp-0"><a href="<%= path %>about/security/">セキュリティ</a></p>
          <p class="ml-30 l-footer__link ml-sp-0"><a href="<%= path %>about/privacy-policy/">プライバシーポリシー</a></p>
        </div>

      </div>

      <div class="l-footer__right mb-sp-40">
        <%- img("footer-logo", "ICMS-SR0363", "common", "png") %>

      </div>
      <p class="l-footer__copyright is-sp">© 2018 FLYWHEEL, Inc. All Rights Reserved</p>
    </div>
  </div>
</footer>