<title><%= meta.title %></title>
<meta charset="UTF-8">
<meta name="description" content="<%= meta.description %>">
<meta name="keywords" content="<%= meta.keywords %>">
<meta name="viewport" content="width=device-width, user-scalable=no">
<!-- SNS OGP start -->
<meta property="og:title" content="<%= meta.title %>">
<meta property="og:type" content="article">
<meta property="og:description" content="<%= meta.description %>">
<meta property="og:keywords" content="<%= meta.keywords %>">
<meta property="og:url" content="<%= meta.og.url %>">
<meta property="og:image" content="<%= meta.og.iamge %>">

<meta property="og:site_name" content="">
<meta property="fb:app_id" content="">
<!--twitter card-->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@">

<!-- page css files start -->
<link rel="stylesheet" type="text/css" href="<%= meta.path %>/assets/css/style.css" />
<link rel="stylesheet" type="text/css" href="<%= meta.path %>/assets/css/style2.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- page css files end -->

<!-- slick css -->
<link rel="stylesheet" type="text/css" href="<%= meta.path %>/assets/css/slick.css"/>
<link rel="stylesheet" type="text/css" href="<%= meta.path %>/assets/css/slick-theme.css"/>