<%- include(`${ROOT}_include/_img`) %>
<!DOCTYPE html>
<html>

<head>
  <% var meta={ path: "../../",title: 'ニュース詳細' , description: 'description' , keywords: 'keywords' , og : { url: ``, iamge: '' } } -%>
  <%- include(`${ROOT}_common/_head`, { meta: meta }) %>
</head>

<body>
  <%- include(`${ROOT}_common/_header.ejs`, {path: meta.path}) %>
  <!-- contents start -->
  <div id="mainContents" class="topics sub">
    <section class="pt-200 mb-75">
      <div class="max-inner max-inner02">
        <p class="u-title ta-c mb-80 mb-sp-40">ニュース</p>

        <h1 class="c-news-article__title mb-0">【報道資料】フライウィール、データ・AIから最適な品揃えと適正在庫を両立させる「Conata™ Demand Planner」を提供開始</h1>

        <div class="d-flex flex-wrap align-center mb-30">
          <p class="c-news-article__date pt-20">2022年6月29日</p>
          <div class="d-flex c-news-article__tags ml-30 ml-sp-7 mr-30 mr-sp-0 pt-20">
            <span class="is-bg-base-blue is-text-white pl-7 pr-7">プレスリリース</span>
          </div>
          <p class="d-flex c-news-article__tags2 pt-20 mt-sp-10">Conata(コナタ)™｜DX推進｜ソリューション｜小売・流通向けソリューション</p>
        </div>

        <ul class="d-flex c-news-article-share align-center">
          <li class="">
            <a href="http://twitter.com/share?text=&url=https//example.com" target="_blank">
              <%- img("twitter-icon", "Twitter", "common", "svg") %>
            </a>
          </li>
          <li class="ml-23 ml-sp-20">
            <a href="https://www.facebook.com/sharer.php?u=https//example.com" target="_blank">
              <%- img("facebook-icon", "Facebook", "common", "svg") %>
            </a>
          </li>
          <li class="ml-23 ml-sp-20">
            <a href="https://www.linkedin.com/sharing/share-offsite/?url=" target="_blank">
              <%- img("linkedin-icon", "LinkedIn", "common", "svg") %>
            </a>
          </li>
          <li class="ml-25 ml-sp-20">
            <a href="http://b.hatena.ne.jp/entry/{URLEncodedPermalink}" data-hatena-bookmark-title="{Title}" data-hatena-bookmark-layout="simple" title="このエントリーをはてなブックマークに追加" target="_blank">
              <%- img("hatena", "hatena", "common", "svg") %>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="pb-sp-20">
      <div class="max-inner max-inner02">
        <article class="c-news-article__body">
          <h2>セクションタイトルパーツですセクションタイトルパーツですセクションタイトル</h2>
          <p>本文テキストパーツです。<a href="">文中リンクのスタイル</a>、<strong>文中強調のスタイル</strong>も用意します。<br>
            先行事例における成功のポイントは、データ活用にあります。CCC では約 7,000 万人の会員データ、約 800 店舗、約450万タイトルが組み合わさった桁違いに多量なデータが保管されています。Conata™ Demand Planner ではまず、その多様かつ大量のデータを当社の独自技術（オントロジー技術など）でデジタル空間に再現し、意味や関係性を抽出できるようにします。<br><br>
            そのデータから AI（人工知能）が書店ごとに売れ行きを予測し、適正部数と品揃えを導き出します。更に、CCC 自動発注システムと連動させ、人手では困難だった「各書店のニーズに基づいて最適な量を最適なタイミングで配本できる仕組み」を新たに作り出しました。</p>
          <%- img("noimg", "ダミー画像", "common", "jpg") %>
          <p>キャプションが入ります キャプションが入ります。</p>
          <hr><br><br>
          <video src="/assets/img/common/dummy.mp4" controls></video>
          <p>キャプションが入ります キャプションが入ります。</p>
          <ul>
            <li>約450万タイトルが組み合わさった桁違いに多量なデータが保管されています。Conata™ Demand Planner ではまず、その多様かつ大量のデータを当社の独自技術（オントロジー技術など）でデジタル空間に再現し、意味や関係性を抽出できるようにします。</li>
            <li>データから AI（人工知能）が書店ごとに売れ行きを予測し、適正部数と品揃えを導き出します。更に、CCC 自動発注システムと連動させ、人手では困難だった「各書店のニーズに基づいて最適な量を最適なタイミングで配本できる仕組み」を新たに作り出しました。</li>
          </ul>
          <ol>
            <li>約450万タイトルが組み合わさった桁違いに多量なデータが保管されています。Conata™ Demand Planner ではまず、その多様かつ大量のデータを当社の独自技術（オントロジー技術など）でデジタル空間に再現し、意味や関係性を抽出できるようにします。</li>
            <li>データから AI（人工知能）が書店ごとに売れ行きを予測し、適正部数と品揃えを導き出します。更に、CCC 自動発注システムと連動させ、人手では困難だった「各書店のニーズに基づいて最適な量を最適なタイミングで配本できる仕組み」を新たに作り出しました。</li>
          </ol><br><br>
          <p>
            <span class="alignleft">
              <%- img("noimg", "ダミー画像", "common", "jpg") %>
            </span>
            左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。
          </p>

          <p>
            <span class="alignright">
              <%- img("noimg", "ダミー画像", "common", "jpg") %>
            </span>
            左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。
          </p>
        </article>
      </div>

    </section>


    <div class="mb-30 mt-40 mb-sp-50">
      <div class="max-inner">
        <div class="c-pagenation d-flex justify-btw align-center">
          <div class="prev">
            <a href="" class="d-flex align-center">
              <span class="c-pagenation-arrow"></span>
              <span class="flex-auto ml-30 is-pc">DOOHのプログラマティック広告配信を実現<br>株式会社 大阪メトロ アドエラ</span>
            </a>
          </div>

          <div class="ta-c c-pagenation-undo mt-25">
            <a class="" href="/newsrelease/">
              <p class="c-pagenation-undo__icon mb-10 mb-sp-5">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </p>
              <p>一覧に戻る</p>
            </a>
          </div>

          <div class="next">
            <a href="" class="d-flex align-center">
              <span class="flex-auto mr-30 is-pc">日本最大級B2B卸サイト パーソナライズ化の検証で売上が4倍に株式会社オークファン</span>
              <span class="c-pagenation-arrow"></span>
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>
  <!-- contents end -->

  <%- include(`${ROOT}_common/_footer.ejs`,{path: meta.path}) %>
  <%- include(`${ROOT}_common/_script.ejs`, {path: meta.path}) %>
</body>

</html>