<%- include(`${ROOT}_include/_img`) %>
<!DOCTYPE html>
<html>

<head>
  <% var meta={ path: "../../",title: 'EC・小売・流通' , description: 'description' , keywords: 'keywords' , og : { url: ``, iamge: '' } } -%>
  <%- include(`${ROOT}_common/_head`, { meta: meta }) %>
</head>

<body>
  <%- include(`${ROOT}_common/_header.ejs`, {path: meta.path}) %>
  <!-- contents start -->
  <div id="mainContents" class="professional sub">
    <section class="pt-180">
        <div class="pl-sp-28 pr-sp-28">
            <p class="u-lead07 ta-c mb-sp-17">ソリューション</p>
          <h1 class="u-title ta-c mt-15">EC・小売・流通</h1>
          <p class="u-text13 ta-c mt-73">ID-POS購買データなどの<br class="is-sp">
            眠っているデータを活用し、<br>
            ひとりひとりのお客様にパーソナライズした<br class="is-sp">
            ロイヤリティマーケティングを。</p>
            </div>
            <div class="p-image mt-50 mt-sp-35">
                <%- img("ec-fv", "ec", "ec", "jpg") %>
            </div>
        </section>

        <section class="p-ec__container">
            <div class="p-ec__wrapper">
                <div class="p-ec__inner pl-sp-28 pr-sp-28">
                    <div class="p-ec__contents">
                    <p class="p-ec__lead">購買データを活用した、パーソナライズ・ロイヤルティマーケティング支援</p>
                    <p class="p-ec__sub ls-01 mt-15 mt-sp-15"> ID-POS購買データなどのお客様の行動データとフライウィール独自の予測エンジンを活用することで、あらゆる顧客接点でパーソナライズされた「お客様中心のお買い物体験」を実現します。</p>
                </div>
                    <div class="p-ec__list-content is-bg-blue mt-65 mt-sp-40">
                        <div class="is-sp">
                        <ul class="p-ec__lists">
                            <li class="p-ec__list p-ec__lead ls-03">
                                <i class="fa-solid fa-check mr-sp-5 mr-10"></i>パーソナライズ 商品レコメンド
                            </li>
                            <li class="p-ec__list p-ec__lead ls-03">
                                <i class="fa-solid fa-check mr-sp-5 mr-10"></i>パーソナライズ サイト/アプリ内検索
                            </li>
                            <li class="p-ec__list p-ec__lead ls-03">
                                <i class="fa-solid fa-check mr-sp-5 mr-10"></i>パーソナライズ サイト/アプリ内商品<br class="is-sp"><span class="is-sp">　  </span>広告
                            </li>
                            <li class="p-ec__list p-ec__lead ls-03">
                                <i class="fa-solid fa-check mr-sp-5 mr-10"></i>パーソナライズコミュニケーション<br>
                                　（DM、アプリ通知など）
                            </li>
                            <li class="p-ec__list p-ec__lead ls-03">
                                <i class="fa-solid fa-check mr-sp-5 mr-10"></i>ライフタイムバリューに基づいた<br>
                                　ロイヤルティマーケティング
                            </li>
                            <li class="p-ec__list p-ec__lead ls-03">
                                <i class="fa-solid fa-check mr-sp-5 mr-10"></i>様々なデータをお客様軸で統合
                            </li>
                        </ul>
                    </div>
                    <div class="is-pc">
                        <ul class="p-ec__lists">
                            <div class="p-ec__list-box">
                            <li class="p-ec__list p-ec__lead ls-03">
                                <i class="fa-solid fa-check mr-sp-5 mr-10"></i>パーソナライズ 商品レコメンド
                            </li>
                            <li class="p-ec__list p-ec__lead ls-03">
                                <i class="fa-solid fa-check mr-sp-5 mr-10"></i>パーソナライズ サイト/アプリ内商品<br class="is-sp"><span class="is-sp">　  </span>広告
                            </li>

                            <li class="p-ec__list p-ec__lead ls-03">
                                <i class="fa-solid fa-check mr-sp-5 mr-10"></i>ライフタイムバリューに基づいた<br>
                                　ロイヤルティマーケティング
                            </li>
                        </div>
                        <div class="p-ec__list-box">
                            <li class="p-ec__list p-ec__lead ls-03">
                                <i class="fa-solid fa-check mr-sp-5 mr-10"></i>パーソナライズ サイト/アプリ内検索
                            </li>
                            <li class="p-ec__list p-ec__lead ls-03">
                                <i class="fa-solid fa-check mr-sp-5 mr-10"></i>パーソナライズコミュニケーション<br>
                                　（DM、アプリ通知など）
                            </li>
                            <li class="p-ec__list p-ec__lead ls-03">
                                <i class="fa-solid fa-check mr-sp-5 mr-10"></i>様々なデータをお客様軸で統合
                            </li>
                            </div>
                        </ul>
                    </div>
                </div>
                    </div>
                    <div class="p-ec__content mt-93 mt-sp-85">
                        <ul class="p-ec__items">
                            <li class="p-ec__item">
                                <div class="p-ec__image is-sp">
                                    <%- img("dummy01", "dummy", "common", "png") %>
                                </div>
                                        <p class="p-ec__case font-accent">case<span>01</span></p>
                                    <div class="p-ec__wrap order-1">
                                    <h3 class="p-ec__tittle">購入頻度が下がっているお客様にだけ<br class="is-pc">クーポンやDMを送付し、<br>
                                        ロイヤルカスタマーの離脱を防ぐ</h3>
                                        <p class="p-ec__text mt-20 mt-sp-25">お客様一人ひとりの来店・購買状況をID-POS購買データから随時把握し、来店頻度や購入額に変化があったお客様にパーソナライズしたメッセージを届けましょう。万人受けするメッセージを、なんとなく抽出したセグメントに配信するのではなく、対象と目的を明確にしてコミュニケーションをとることで、ロイヤルカスタマーの離脱防止や新規のお客様のリピート促進などを実現します。</p>
                                        <a href="/case/" class="c-btn blue mx-auto mt-50 mt-sp-55">導入事例を見る</a>
                                </div>
                                <div class="p-ec__image order-2 is-pc">
                                    <%- img("dummy01", "dummy", "common", "png") %>
                                </div>
                            </li>
                            <li class="p-ec__item">
                                <div class="p-ec__image">
                                    <%- img("dummy01", "dummy", "common", "png") %>
                                </div>
                                <div class="p-ec__wrap">
                                        <p class="p-ec__case font-accent">case<span>02</span></p>
                                    <h3 class="p-ec__tittle mt-sp-10">カタログやチラシをパーソナライズし、<br class="is-pc">お客様一人ひとりに<br class="is-pc">最も魅力的なアイテムや<br class="is-pc">キャンペーンを確実に知らせる</h3>
                                        <p class="p-ec__text mt-10 mt-sp-20 ls-2">お客様一人ひとりの来店・購買状況をID-POS購買データから随時把握し、来店頻度や購入額に変化があったお客様にパーソナライズしたメッセージを届けましょう。万人受けするメッセージを、なんとなく抽出したセグメントに配信するのではなく、対象と目的を明確にしてコミュニケーションをとることで、ロイヤルカスタマーの離脱防止や新規のお客様のリピート促進などを実現します。</p>
                                        <a href="/case/" class="c-btn blue mx-auto mt-50 mt-sp-55">導入事例を見る</a>
                                </div>
                            </li>
                            <li class="p-ec__item">
                                        <p class="p-ec__case font-accent">case<span>03</span></p>
                                    <h3 class="p-ec__tittle mt-sp-10">各店舗ごとの商品別の売上推<br class="is-sp">移やお客様属性の違いを考慮し、<br>発注量や棚割りを最適化</h3>
                                        <p class="p-ec__text mt-20">お客様一人ひとりの来店・購買状況をID-POS購買データから随時把握し、来店頻度や購入額に変化があったお客様にパーソナライズしたメッセージを届けましょう。万人受けするメッセージを、なんとなく抽出したセグメントに配信するのではなく、対象と目的を明確にしてコミュニケーションをとることで、ロイヤルカスタマーの離脱防止や新規のお客様のリピート促進などを実現します。</p>
                                        <a href="/case/" class="c-btn blue mx-auto mt-50 mt-sp-55">導入事例を見る</a>
                            </li>
                        </ul>
                    </div>
                </div>
        </section>

        <div class="p-top-cv is-bg-blue">
            <div class="max-inner ta-c">
              <p class="mb-30 mb-sp-28">データ活用プラットフォームConataの<br>紹介資料・導入事例集はこちら</p>
              <div class="mb-90 mb-sp-82">
                <a href="/download/" class="c-btn cv blue mx-auto">
                  <span>資料請求</span>
                </a>
              </div>
              <p class="mb-36 mb-sp-28">個別のご質問・ご相談はこちら</p>
              <a href="/contacts/" class="c-btn blue mx-auto">
                <span class="">
                  お問い合わせ
                </span>
              </a>
            </div>
          </div>

        <section class="c-case-wrap p-top-case mt-0 pt-120 pb-120 pb-sp-90">
          <h3 class="c-case__head ta-c">導入事例</h3>
          <div class="max-inner mt-50">
            <ul class="c-case mb-60 mb-sp-0">
              <li class="pb-120 pb-sp-70">
                <a href="/case/case-adera/">
                  <div class="c-case__img mb-11 mb-sp-10">
                    <picture>
                      <%- img("dummy01", "ダミー画像", "common", "png") %>
                    </picture>
                  </div>
                  <div class="c-case__logo mb-11 mb-sp-10">
                    <picture>
                      <%- img("dummy_logo01", "ロゴ", "common", "png") %>
                    </picture>
                  </div>
                  <p class="c-case__company mb-5 mb-sp-12">株式会社 大阪メトロ アドエラ</p>
                  <p class="c-case__title">DOOHのプログラマティック広告配信を実現</p>
                </a>
              </li>
              <li class="pb-120 pb-sp-70">
                <a href="/case/case-adera/">
                  <div class="c-case__img mb-11 mb-sp-10">
                    <picture>
                      <%- img("dummy02", "ダミー画像", "common", "png") %>
                    </picture>
                  </div>
                  <div class="c-case__logo mb-11 mb-sp-10">
                    <picture>
                      <%- img("dummy_logo02", "ロゴ", "common", "png") %>
                    </picture>
                  </div>
                  <p class="c-case__company mb-5 mb-sp-12">アスクル株式会社</p>
                  <p class="c-case__title">需要予測技術により売上改善の予測モデルを開発</p>
                </a>
              </li>
              <li class="pb-120 pb-sp-70">
                <a href="/case/case-adera/">
                  <div class="c-case__img mb-11 mb-sp-10">
                    <picture>
                      <%- img("dummy03", "ダミー画像", "common", "png") %>
                    </picture>
                  </div>
                  <div class="c-case__logo mb-11 mb-sp-10">
                    <picture>
                      <%- img("dummy_logo03", "ロゴ", "common", "png") %>
                    </picture>
                  </div>
                  <p class="c-case__company mb-5 mb-sp-12">株式会社オークファン</p>
                  <p class="c-case__title">日本最大級B2B卸サイトパーソナライズ化の検証で売上が4倍に</p>
                </a>
              </li>
            </ul>
  
            <a href="/case/" class="c-btn blue mx-auto">
              <span>全ての導入事例を見る</span>
            </a>
  
          </div>
        </section>

        <section class="c-news-wrap mt-0 pt-100 pb-60 pt-sp-20 pb-sp-60">
            <div class="max-inner">
							<h2 class="mb-50 fs-24 mb-sp-45 fs-sp-20 ml-sp-40">EC・小売・流通<br>関連ニュース</h2>
              <ul class="c-news mb-60 mb-sp-30">
                <li class="pb-80 pb-sp-70">
                  <a href="/case/case-adera/">
                    <div class="c-news-img mb-5 mb-sp-10">
                      <%- img("noimg", "ダミー画像", "common", "jpg") %>
                    </div>
                    <p class="c-news-date mb-10 mb-sp-8">2022年7月12日</p>
                    <div class="c-news-tag mb-10 mb-sp-17 d-flex">
                      <p class="mr-5 is-bg-base-blue pl-13 pr-13 is-text-white mb-5">プレスリリース</p>
                    </div>
                    <p class="c-news-title">日経産業新聞にて当社の「Conata™ Discovery Planner」が紹介されました</p>
                  </a>
                </li>
                <li class="pb-80 pb-sp-70">
                  <a href="/case/case-adera/">
                    <div class="c-news-img mb-5 mb-sp-10">
                      <%- img("dummy-blog01", "ダミー画像", "common", "png") %>
                    </div>
                    <p class="c-news-date mb-10 mb-sp-8">2022年7月12日</p>
                    <div class="c-news-tag mb-10 mb-sp-17 d-flex">
                      <p class="mr-5 is-bg-base-blue pl-13 pr-13 is-text-white mb-5">ニュース</p>
                    </div>
                    <p class="c-news-title">Google 主催の『Born Digital Summit』に当社データサイエンティスト川端が登壇します</p>
                  </a>
                </li>
                <li class="pb-80 pb-sp-70">
                  <a href="/case/case-adera/">
                    <div class="c-news-img mb-5 mb-sp-10">
                      <%- img("dummy-blog02", "ダミー画像", "common", "png") %>
                    </div>
                    <p class="c-news-date mb-10 mb-sp-8">2022年7月12日</p>
                    <div class="c-news-tag mb-10 mb-sp-17 d-flex">
                      <p class="mr-5 is-bg-base-blue pl-13 pr-13 is-text-white mb-5">ニュース</p>
                    </div>
                    <p class="c-news-title">【報道資料】フライウィール、データ・AIから最適な品揃えと適正在庫を両立させる 「Conata™ Demand Planner」を提供開始</p>
                  </a>
                </li>
                </ul>
                <a href="/newsrelease/" class="c-btn blue mx-auto">もっと見る</a>
                </div>
                </section>


    </div>
    <!-- contents end -->
  
    <%- include(`${ROOT}_common/_footer.ejs`,{path: meta.path}) %>
    <%- include(`${ROOT}_common/_script.ejs`, {path: meta.path}) %>
  </body>
  
  </html>