<%- include(`${ROOT}_include/_img`) %>
<!DOCTYPE html>
<html>

<head>
  <% var meta={ path: "../../",title: 'WORK STYLE' , description: 'description' , keywords: 'keywords' , og : { url: ``, iamge: '' } } -%>
  <%- include(`${ROOT}_common/_head`, { meta: meta }) %>
</head>

<body>
  <%- include(`${ROOT}_common/_header.ejs`, {path: meta.path}) %>
  <!-- contents start -->

  <section class="pt-160 pb-sp-20">
    <div class="max-inner">
      <h1 class="u-title-medium ta-c mb-10 mb-sp-0">WORK STYLE</h1>
      <p class="ta-c u-lead01">働き方　福利厚生</p>
      </div>
      </section>

      <section class="p-works">
        <div class="p-works__inner pl-sp-28 pr-sp-28">
            <div class="p-works__contents">
                <div class="p-works__content">
                    <ul class="p-works__items">
                        <li class="p-works__item">
                            <h2 class="p-works__tittle">フレックス制度</h2>
                            <p class="p-works__text">一部職種を対象に、コアタイムなしのフレックス制度を導入しています。社員が一定の時間帯の中で、始業と終業の時刻を決定できる制度で、3カ月間の総労働時間が所定の時間を満たすことを前提に、毎日の始業と終業時間は個人の裁量で決めることができます。<br>
                                各組織・個人が最も効率的な時間帯に業務を行うことで、生産性と成果を最大化させることを目的としています。</p>
                        </li>
                        <li class="p-works__item">
                            <h2 class="p-works__tittle">裁量労働制</h2>
                            <p class="p-works__text">一部職種を対象に、裁量労働制を適用し、自律的/創造的且つ生産性を高める働き方を可能にしています。</p>
                        </li>
                        <li class="p-works__item">
                            <h2 class="p-works__tittle">ハイブリッドワーク</h2>
                            <p class="p-works__text">個人と組織の生産性最大化及びワークライフバランスの確保を目的に、オフィスでの勤務またはサテライトオフィスの利用を含むリモートワークを状況に応じて相談の上選択することができます （サテライトオフィスはシェアオフィスの他拠点利用を指す） 。<br>
                                オフィスでの勤務はフリーアドレス環境で、ミーティングやフォンブースでの業務など仕事に合わせて環境を選択することが可能です。</p>
                        </li>
                        <li class="p-works__item">
                            <h2 class="p-works__tittle">副業</h2>
                            <p class="p-works__text">社外活動で得た知見を、社内で培った経験や知見と組み合わせることによりイノベーションの創出につなげること、そして多様な経験により社員の成長を後押しすることを目的に、会社の申請・承認後の副業実施が可能です。</p>
                        </li>
                        <li class="p-works__item">
                            <h2 class="p-works__tittle">休暇</h2>
                            <p class="p-works__text">半日単位で取得可能な年間20日の年次有給休暇（入社時5日付与、6ヶ月以降の初年度付与日数は、入社月により異なる）、有給傷病休暇（年7日）、出産・育児・看護介護休暇、結婚休暇、忌引休暇、永年勤続休暇、ボランティア休暇、コロナ関連の特別休暇完備。</p>
                        </li>
                        <li class="p-works__item">
                            <h2 class="p-works__tittle">諸手当</h2>
                            <p class="p-works__text">時間外勤務手当、深夜勤務手当、休日勤務手当、出張手当、通勤手当、慶弔見舞金、オンコール手当。</p>
                        </li>
                        <li class="p-works__item">
                            <h2 class="p-works__tittle">社会保険</h2>
                            <p class="p-works__text">全国健康保険協会に加入しています。その他、厚生年金保険、雇用保険、介護保険、労災保険も完備しています。</p>
                        </li>
                        <li class="p-works__item">
                            <h2 class="p-works__tittle">リファラル採用 支援制度</h2>
                            <p class="p-works__text">フライウィールでは、組織の成長を左右する「採用」に社員が主体的に関わる「リファラル採用」を推進。紹介から入社に至った際のリファラルボーナス制度の他、知人/友人への会社紹介や選考プロセス支援等に係る飲食費を会社が補助する「リファランチ」制度を用意しています。</p>
                        </li>
                        <li class="p-works__item">
                            <h2 class="p-works__tittle">書籍購入 & 社内ライブラリ</h2>
                            <p class="p-works__text">社員の学習や成長を会社としてバックアップする、書籍購入支援制度を設けています。自己成長支援と業務支援、両目的における書籍購入費用をサポート（自己成長支援目的の場合は上限金額あり）。会社にはライブラリも設置しており、オンラインで蔵書を確認することができるほか、書籍の貸し出しも行っています。</p>
                        </li>
                        <li class="p-works__item">
                            <h2 class="p-works__tittle">ベビーシッター補助</h2>
                            <p class="p-works__text">フライウィールは「企業主導型内閣府ベビーシッター利用支援事業」の承認事業主となっています。子育て家庭のベビーシッター利用に対して、1日（回）対象児童1人につき4,400円分の補助があります（1ヶ月最大52,800円まで・対象児童他利用に際して諸条件あり）。</p>
                        </li>
                        <li class="p-works__item">
                            <h2 class="p-works__tittle">ガチャ・チャポイント制度</h2>
                            <p class="p-works__text">どちらの制度も飲食費用を会社でサポートする、コミュニケーション支援施策の一つです。毎週開催の「ガチャランチ」は、ランダムに生成されるグループでランチを、月2回まで使える「チャポイント」は、話したい人を自ら誘って、部署やチーム、職種の垣根を超えて、日頃業務で関わりのないメンバーとも交流を深めることができます（どちらの制度も金額上限あり）。</p>
                        </li>
                        <li class="p-works__item">
                            <h2 class="p-works__tittle">Employee Voluntary Group(EVG)</h2>
                            <p class="p-works__text">社内のカルチャー情勢・浸透を促進することを目的に、Engineer・Busineess・Corporate3つの部門から有志で1名ずつ社員が集い、課題解決に向けてボトムアップ型で取り組んでいます。エンターテインメント性の高いものから学びの多いものまで、趣向を凝らした企画で社内コミュニケーションの活性化を実現しています。</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      </section>

    <!-- contents end -->
    <%- include(`${ROOT}_common/_footer.ejs`,{path: meta.path}) %>
    <%- include(`${ROOT}_common/_script.ejs`, {path: meta.path}) %>
</body>

</html>