<%- include(`${ROOT}_include/_img`) %>
<!DOCTYPE html>
<html>

<head>
  <% var meta={ path: "../../",title: '会社概要' , description: 'description' , keywords: 'keywords' , og : { url: ``, iamge: '' } } -%>
  <%- include(`${ROOT}_common/_head`, { meta: meta }) %>
</head>

<body>
  <%- include(`${ROOT}_common/_header.ejs`, {path: meta.path}) %>
  <!-- contents start -->
  <div id="mainContents" class="dl sub">
    <section class="pt-160 pb-sp-20">
      <div class="max-inner">
        <h1 class="u-title ta-c mb-sp-40">会社概要・アクセス</h1>
      </div>
    </section>

    <section class="p-company__container">
        <div class="p-company__inner pr-sp-29 pl-sp-29">
            <div class="p-company__content mt-78 mt-sp-10">
                <h2 class="p-company__tittle">会社概要</h2>
                <table class="p-company__table mt-55 mt-sp-35">
                    <tbody>
                        <tr>
                            <th>会社名</th>
                            <td>株式会社フライウィール</td>
                        </tr>
                        <tr>
                            <th>設立</th>
                            <td>2018年2月9日</td>
                        </tr>
                        <tr>
                            <th>資本金</th>
                            <td>1億円</td>
                        </tr>
                        <tr>
                            <th>代表取締役</th>
                            <td>横山 直人</td>
                        </tr>
                        <tr>
                            <th>取締役</th>
                            <td>波村 大悟</td>
                        </tr>
                        <tr>
                            <th>所在地</th>
                            <td><a href="https://goo.gl/maps/ce7Hqdg5sp6sA6HZA" target="_blank" style="text-decoration: underline">東京都千代田区麹町２丁目５−１半蔵門PREX South</a></td>
                        </tr>
                        <tr>
                            <th>事業内容</th>
                            <td>データ及び人工知能を活用したソリューションの開発・提供<br>データ・プロダクト開発に関するコンサルティング</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="p-access__container is-bg-blue">
        <div class="p-access__inner pl-sp-29 pr-sp-29">
            <div class="p-access__content">
                <h2 class="p-access__tittle">アクセス</h2>
                <div class="p-access__map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.729395751517!2d139.7385568155549!3d35.68366453744548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188dae6b2e9c97%3A0x2b5940004f918459!2zV2VXb3JrIOWNiuiUtemWgCBQUkVYIFNvdXRo!5e0!3m2!1sja!2sjp!4v1670124576977!5m2!1sja!2sjp" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <a href="https://goo.gl/maps/ce7Hqdg5sp6sA6HZA" target="_blank" class="c-btn c-btn-icon mt-50"><span>Google Maps</span><span class="out-tab">
                    <picture>
                      <source srcset="/assets/img/top/tab-icon.svg">
                      <img src="/assets/img/top/tab-icon.svg" alt="外部タブアイコン" loading="lazy">
                    </picture>
                  </span></a>
            </div>
        </div>
    </section>
  </div>
  <!-- contents end -->

  <%- include(`${ROOT}_common/_footer.ejs`,{path: meta.path}) %>
  <%- include(`${ROOT}_common/_script.ejs`, {path: meta.path}) %>
</body>

</html>