<%- include(`${ROOT}_include/_img`) %>
<!DOCTYPE html>
<html>

<head>
  <% var meta={ path: "../../",title: '横井啓介 プロダクトマネージャー' , description: 'description' , keywords: 'keywords' , og : { url: ``, iamge: '' } } -%>
  <%- include(`${ROOT}_common/_head`, { meta: meta }) %>
</head>

<body>
  <%- include(`${ROOT}_common/_header.ejs`, {path: meta.path}) %>
  <!-- contents start -->
  <div id="mainContents" class="people sub">
    <section class="pt-200 mb-100 mb-sp-0 pt-sp-50">
      <div class="max-inner max-inner02 pt-100">
        <h1 class="c-news-article__title mb-10">スタッフエンジニア 太田浩行</h1>

        <div class="d-flex flex-wrap align-center mb-50">
          <p class="c-news-article__date pt-20 fw-regular">2022年6月29日</p>
          <div class="d-flex c-news-article__tags ml-30 ml-sp-7 mr-30 mr-sp-0 pt-20">
            <span class="is-bg-base-blue is-text-white pl-7 pr-7 fw-medium">ENGINEER</span>
          </div>
        </div>

        <div class="p-people-thumb mb-40">
          <%- img("dummy", "ダミー画像", "people", "png") %>
        </div>

        <div class="d-flex align-center p-people-author">
          <div class="c-news-article__author-img mb-sp-20">
            <%- img("dummy", "ダミー", "people", "png") %>
          </div>
          <div class=" flex-auto ml-32 ml-sp-20">
            <p class="c-news-article__author-company mb-20 fs-sp-14">太田浩行 (スタッフエンジニア)</p>
            <p class="c-news-article__author-text fs-sp-12">Google Japan にてGoogle Playのクーポンシステムの開発やGoogle Mapsの口コミのソーシャル機能のテックリードを担当。東京大学大学院修士課程修了。専攻はComputer Science。</p>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-100 pb-sp-20">
      <div class="max-inner max-inner02">

        <article class="c-news-article__body">
          <h2>■ 新卒Googleからスタートアップへ、大きなチャレンジ</h2>
          <p>本文テキストパーツです。<a href="">文中リンクのスタイル</a>、<strong>文中強調のスタイル</strong>も用意します。<br>
            先行事例における成功のポイントは、データ活用にあります。CCC では約 7,000 万人の会員データ、約 800 店舗、約450万タイトルが組み合わさった桁違いに多量なデータが保管されています。Conata™ Demand Planner ではまず、その多様かつ大量のデータを当社の独自技術（オントロジー技術など）でデジタル空間に再現し、意味や関係性を抽出できるようにします。<br><br>
            そのデータから AI（人工知能）が書店ごとに売れ行きを予測し、適正部数と品揃えを導き出します。更に、CCC 自動発注システムと連動させ、人手では困難だった「各書店のニーズに基づいて最適な量を最適なタイミングで配本できる仕組み」を新たに作り出しました。</p>
          <%- img("noimg", "ダミー画像", "common", "jpg") %>
          <p>キャプションが入ります キャプションが入ります。</p>
          <br><br>
          <video src="/assets/img/common/dummy.mp4" controls></video>
          <p>キャプションが入ります キャプションが入ります。</p>
          <p><strong>神門</strong>：一貫してビジネスディベロップメントやアライアンスのキャリアを積んできました。地図APIや位置情報ソリューションを提供する会社で新規事業開発のヘッドを務めた後、前職はAIプラットフォームビジネスのアライアンスチームで5名のメンバーをマネジメントしながら自身でも事業開発を戦略立案から実行までリードしていました。
            <br><br><strong>神門</strong>：大手SIerに約12年間勤めていました。新規営業から新規事業立案、システム開発のプロジェクトリード、経営企画、スペインへの海外赴任等、かなり幅広くチャレンジさせてもらいました。
            <br><br>
            <strong>大柳</strong>：新卒で入社した採用支援コンサルティング会社で約20年間、エンタープライズ向けに提案型のソリューション営業に従事していました。本質的な顧客満足を常に意識して、営業だけでなくプロダクトマネジメントやプロダクト開発、制作、BPO、セキュリティ周り等、多岐に渡る業務を経験してきました。
          </p><br><br><br>
          <p>
            <span class="alignleft">
              <%- img("noimg", "ダミー画像", "common", "jpg") %>
            </span>
            左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。
          </p>

          <p>
            <span class="alignright">
              <%- img("noimg", "ダミー画像", "common", "jpg") %>
            </span>
            左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。左画像の2段組みパーツです。スマホの場合は1列になります。
          </p>


        </article>
      </div>

    </section>


    <div class="mb-30 mt-100 mt-sp-40 pt-100 pt-sp-0 mb-sp-50 p-people-relatedLink mb-100">
      <div class="max-inner pb-100">
        <h2 class="ta-c p-people-relatedLink__title mb-60 mb-sp-40">関連リンク</h2>
        <div class="d-pc-flex justify-center">
          <a href="" class="c-btn ml-20 mr-20 mb-sp-25"><span>Button</span><span class="out-tab">
              <picture>
                <source srcset="/assets/img/top/tab-icon.svg">
                <img src="/assets/img/top/tab-icon.svg" alt="外部タブアイコン" loading="lazy">
              </picture>
            </span></a>
          <a href="" class="c-btn ml-20 mr-20 mb-sp-25"><span>Button</span><span class="out-tab">
              <picture>
                <source srcset="/assets/img/top/tab-icon.svg">
                <img src="/assets/img/top/tab-icon.svg" alt="外部タブアイコン" loading="lazy">
              </picture>
            </span></a>
          <a href="" class="c-btn ml-20 mr-20 mb-sp-25"><span>Button</span><span class="out-tab">
              <picture>
                <source srcset="/assets/img/top/tab-icon.svg">
                <img src="/assets/img/top/tab-icon.svg" alt="外部タブアイコン" loading="lazy">
              </picture>
            </span></a>
        </div>

      </div>
    </div>


    <section class="p-people-related pt-100 pt-sp-0">
      <div class="max-inner">
        <h2 class="p-people-related__title mb-50">関連記事</h2>
        <div class="p-people-related__swiper pb-30">
          <div class="swiper">
            <ul class="c-news mb-60 mb-sp-30 d-flex swiper-wrapper">
              <li class="pb-80 pb-sp-70 swiper-slide">
                <a href="/careers-2/people1/">
                  <div class="c-news-img mb-5 mb-sp-10">
                    <%- img("dummy", "ダミー画像", "people", "png") %>
                  </div>
                  <div class="d-flex justify-btw">
                    <p class="c-news-date mb-10 mb-sp-8 mr-5">社員インタビュー</p>
                    <div class="c-news-tag mb-10 mb-sp-17 d-flex">
                      <p class="mr-5 is-bg-base-blue pl-13 pr-13 is-text-white mb-5 fw-medium">ENGINEER</p>
                    </div>
                  </div>
                  <p class="c-news-title">プロダクトマネージャー<br>横井啓介</p>
                </a>
              </li>

              <li class="pb-80 pb-sp-70 swiper-slide">
                <a href="/careers-2/people1/">
                  <div class="c-news-img mb-5 mb-sp-10">
                    <%- img("dummy2", "ダミー画像", "people", "png") %>
                  </div>
                  <div class="d-flex justify-btw">
                    <p class="c-news-date mb-10 mb-sp-8 mr-5">チームインタビュー</p>
                    <div class="c-news-tag mb-10 mb-sp-17 d-flex">
                      <p class="mr-5 is-bg-base-blue pl-13 pr-13 is-text-white mb-5 fw-medium">CORPORATE</p>
                    </div>
                  </div>
                  <p class="c-news-title">コーポレートチーム<br>より透明な人事制度を目指して</p>
                </a>
              </li>

              <li class="pb-80 pb-sp-70 swiper-slide">
                <a href="/careers-2/people1/">
                  <div class="c-news-img mb-5 mb-sp-10">
                    <%- img("dummy3", "ダミー画像", "people", "png") %>
                  </div>
                  <div class="d-flex justify-btw">
                    <p class="c-news-date mb-10 mb-sp-8 mr-5">社員動画インタビュー</p>
                    <div class="c-news-tag mb-10 mb-sp-17 d-flex">
                      <p class="mr-5 is-bg-base-blue pl-13 pr-13 is-text-white mb-5 fw-medium">ENGINEER</p>
                    </div>
                  </div>
                  <p class="c-news-title">データサイエンティスト<br>川端貴幸</p>
                </a>
              </li>
              <li class="pb-80 pb-sp-70 swiper-slide">
                <a href="/careers-2/people1/">
                  <div class="c-news-img mb-5 mb-sp-10">
                    <%- img("dummy", "ダミー画像", "people", "png") %>
                  </div>
                  <div class="d-flex justify-btw">
                    <p class="c-news-date mb-10 mb-sp-8 mr-5">社員インタビュー</p>
                    <div class="c-news-tag mb-10 mb-sp-17 d-flex">
                      <p class="mr-5 is-bg-base-blue pl-13 pr-13 is-text-white mb-5 fw-medium">ENGINEER</p>
                    </div>
                  </div>
                  <p class="c-news-title">プロダクトマネージャー<br>横井啓介</p>
                </a>
              </li>

              <li class="pb-80 pb-sp-70 swiper-slide">
                <a href="/careers-2/people1/">
                  <div class="c-news-img mb-5 mb-sp-10">
                    <%- img("dummy2", "ダミー画像", "people", "png") %>
                  </div>
                  <div class="d-flex justify-btw">
                    <p class="c-news-date mb-10 mb-sp-8 mr-5">チームインタビュー</p>
                    <div class="c-news-tag mb-10 mb-sp-17 d-flex">
                      <p class="mr-5 is-bg-base-blue pl-13 pr-13 is-text-white mb-5 fw-medium">CORPORATE</p>
                    </div>
                  </div>
                  <p class="c-news-title">コーポレートチーム<br>より透明な人事制度を目指して</p>
                </a>
              </li>

              <li class="pb-80 pb-sp-70 swiper-slide">
                <a href="/careers-2/people1/">
                  <div class="c-news-img mb-5 mb-sp-10">
                    <%- img("dummy3", "ダミー画像", "people", "png") %>
                  </div>
                  <div class="d-flex justify-btw">
                    <p class="c-news-date mb-10 mb-sp-8 mr-5">社員動画インタビュー</p>
                    <div class="c-news-tag mb-10 mb-sp-17 d-flex">
                      <p class="mr-5 is-bg-base-blue pl-13 pr-13 is-text-white mb-5 fw-medium">ENGINEER</p>
                    </div>
                  </div>
                  <p class="c-news-title">データサイエンティスト<br>川端貴幸</p>
                </a>
              </li>
            </ul>
          </div>
          <!-- 必要に応じてページネーション -->
          <div class="swiper-pagination"></div>
          <!-- 必要に応じてナビボタン -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </section>

    <div class="mb-30 mt-40 mb-sp-50">
      <div class="max-inner">
        <div class="d-flex justify-center align-center">
          <div class="ta-c c-pagenation-undo mt-25">
            <a class="" href="/careers/people">
              <p class="c-pagenation-undo__icon mb-10 mb-sp-5">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </p>
              <p>一覧に戻る</p>
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>
  <!-- contents end -->

  <%- include(`${ROOT}_common/_footer.ejs`,{path: meta.path}) %>
  <%- include(`${ROOT}_common/_script.ejs`, {path: meta.path}) %>
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <script>
    const swiper = new Swiper(".swiper", {
      pagination: {
        el: ".swiper-pagination",
        clickable: true
      },
      // ナビボタンが必要なら追加
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev"
      },
      slidesPerView: 1,
      loop: true,
      spaceBetween: 0,

      breakpoints: {
        // 768px以上の場合
        768: {
          slidesPerView: 3,
          spaceBetween: 50,
        },
      }

    });
  </script>
</body>

</html>