<%- include(`${ROOT}_include/_img`) %>
<!DOCTYPE html>
<html>

<head>
  <% var meta={ path: "../../",title: 'FAQ' , description: 'description' , keywords: 'keywords' , og : { url: ``, iamge: '' } } -%>
  <%- include(`${ROOT}_common/_head`, { meta: meta }) %>
</head>

<body>
  <%- include(`${ROOT}_common/_header.ejs`, {path: meta.path}) %>

   <!-- contents start -->
   <div id="mainContents" class="conata faq">
    <section class="pt-160 pb-100 pb-sp-20 mb-sp-50">
      <div class="pl-sp-22 pr-sp-22">
        <h1 class="u-title ta-c mb-0">FAQ</h1>
        <p class="u-title__faq mt-28 mt-sp-8 ta-c">よくあるご質問</p>
        <div class="p-faq__content mt-sp-92 mt-78">
            <ul class="c-lists">
                <li class="c-list">
                    <a href="#faq__feature">
                        概要・特徴について
                    </a>
                </li>
                <li class="c-list">
                    <a href="#faq__price">
                        価格について
                    </a>
                </li>
                <li class="c-list">
                    <a href="#faq__support">
                        サポート体制について
                    </a>
                </li>
                <li class="c-list">
                    <a href="#faq__contact">
                        ご利用お申込みについて
                    </a>
                </li>
            </ul>
        </div>
    </div>

        <div class="p-faq__wrapper">
            <div class="p-faq__inner">
                <h2 id="faq__feature" class="p-faq__tittle">概要・特徴について</h2>
                <ul class="p-faq__items">
                    <li class="p-faq__item">
                        <div class="p-faq__lead-wrap">
                            <p class="p-faq__lead-head">Q.</p>
                        <p class="p-faq__lead">Conata は他社製品とどのように違いますか？</p>
                    </div>
                        <div class="p-faq__answer-wrap">
                            <p class="p-faq__lead-head">A.</p>
                            <p class="p-faq__answer-text">データ変換・モデリングの独自技術「オントロジー化」や「統合検索技術」をベースとしている点が他社製品との違いです。それにより多様で膨大なデータを柔軟に扱うことができ、機械学習の範囲を拡大することで新しいデータパターンや傾向を明らかにできます。<br>
                                また、上記のように整備したデータ基盤から、売上や収益構造の改善に直結するオファリングまでがシームレスに連携可能なため、データの利活用までに時間と手間がかからないことも大きな特徴です。</p>
                            </div>
                        <a href="/case/" class="c-btn blue mx-auto mt-30 mt-sp-32">
                            <span>オントロジーの詳細</span>
                          </a>
                    </li>
                    <li class="p-faq__item">
                        <div class="p-faq__lead-wrap">
                            <p class="p-faq__lead-head">Q.</p>
                        <p class="p-faq__lead">導入企業は、Conataを利用してどのようにビジネスを強化していますか？</p>
                    </div>
                        <div class="p-faq__answer-wrap">
                            <p class="p-faq__lead-head">A.</p>
                            <p class="p-faq__answer-text">専任のコンサルタントが導入企業様ごとにデータの保有状況についてヒアリング/調査させていただき、目的ごとにConataを用いたソリューションのご提案をさせていただきます。たとえば、需要予測によるコスト削減、検索やレコメンドシステムを用いたユーザーエンゲージメントの向上、新規事業の立ち上げによる新たな収益源の確立などがあります。</p>
                            </div>
                        <a href="/case/" class="c-btn blue mx-auto mt-30 mt-sp-32">
                            <span>導入事例を見る</span>
                          </a>
                    </li>
                    <li class="p-faq__item">
                        <div class="p-faq__lead-wrap">
                            <p class="p-faq__lead-head">Q.</p>
                        <p class="p-faq__lead ls-01">Conataは、どのようなデータを収集・蓄積・管理できますか？</p>
                    </div>
                        <div class="p-faq__answer-wrap">
                            <p class="p-faq__lead-head">A.</p>
                            <p class="p-faq__answer-text">サイト/アプリのイベントログ、商品マスタ、ID-POS、位置情報など、実現したいソリューションに必要なあらゆるデータをConata上で管理することができます。非構造化データ（表形式ではないもの等）や不揃いなデータ（カテゴリや部門ごとに保有形式が異なる等）でも、ぜひ一度ご相談ください。弊社独自のオントロジー技術を用いることで、活用可能な状態に整備いたします。</p>
                            </div>
                    </li>
                    <li class="p-faq__item">
                        <div class="p-faq__lead-wrap">
                            <p class="p-faq__lead-head">Q.</p>
                        <p class="p-faq__lead">Conataは、どうやって顧客の保有データを取り込みますか？</p>
                    </div>
                        <div class="p-faq__answer-wrap">
                            <p class="p-faq__lead-head">A.</p>
                            <p class="p-faq__answer-text">ありのままのデータをお預けいただくだけで、あとはConataがデータ整備・統合・変換を実現します。あらゆるクラウド システム、ファイルタイプ、データ構造に対応可能です。お客様内でのスキーマ変更などデータ加工手続きは不要です。<br>
                                ご提供いただきましたデータを半自動的に読み解き、活用可能な状態に格納いたします。また、データの接続方式もお客様がご対応しやすい方式で実施いたします。</p>
                            </div>
                    </li>
                    <li class="p-faq__item">
                        <div class="p-faq__lead-wrap">
                            <p class="p-faq__lead-head">Q.</p>
                        <p class="p-faq__lead">Conataはどんなツールと連携できますか？</p>
                    </div>
                        <div class="p-faq__answer-wrap">
                            <p class="p-faq__lead-head">A.</p>
                            <p class="p-faq__answer-text">必要なデータを必要な形式・頻度で連携可能です。一例として、以下がございます。<br>
                                ・Webサイトをパーソナライズするために、レコメンドスコアや表示するアイテム情報を配信システムに連携<br>
                                ・発注数を自動的に算出した統計データをお客様のシステムにあるダッシュボードに連携・可視化<br>
                                まずはお客様の活用されたい目的をお聞かせください。</p>
                            </div>
                    </li>
                    <li class="p-faq__item">
                        <div class="p-faq__lead-wrap">
                            <p class="p-faq__lead-head">Q.</p>
                        <p class="p-faq__lead">カスタマイズは可能ですか？</p>
                    </div>
                        <div class="p-faq__answer-wrap">
                            <p class="p-faq__lead-head">A.</p>
                            <p class="p-faq__answer-text">Conataには、データ活用プラットフォームとしての機能が実装されており、データドリブンな事業活動と意思決定の基盤となるデータの連携やビジュアライズ、ソリューション開発などを実現します。その上でプロフェッショナルサービスと組み合わせ、目的に応じたカスタマイズが可能です。</p>
                            </div>
                            <a href="/solutions/" class="c-btn blue mx-auto mt-30">
                                <span>プロフェッショナルサービス</span>
                              </a>
                    </li>
                    <li class="p-faq__item">
                        <div class="p-faq__lead-wrap">
                            <p class="p-faq__lead-head">Q.</p>
                        <p class="p-faq__lead">Conata導入までどれくらいかかりますか？</p>
                    </div>
                        <div class="p-faq__answer-wrap">
                            <p class="p-faq__lead-head">A.</p>
                            <p class="p-faq__answer-text">解決したい課題と優先度に応じてスケジューリングします。標準的な進め方は現状の問題分析や実施する要件設計を行うコンサルティング期間を経て、2-3ヶ月程度です。</p>
                            </div>
                    </li>
                    <li class="p-faq__item">
                        <div class="p-faq__lead-wrap">
                            <p class="p-faq__lead-head">Q.</p>
                        <p class="p-faq__lead">Conataのセキュリティ対策について教えてください。</p>
                    </div>
                        <div class="p-faq__answer-wrap">
                            <p class="p-faq__lead-head">A.</p>
                            <p class="p-faq__answer-text">フライウィールでは情報セキュリティ方針を策定し、ISMSを構築・運用し、当社を取り巻く環境の変化を踏まえ、継続的改善を全社を挙げて取り組んでいます。 弊社ではお客様からお預かりする個人情報を含む多くの情報資産を保管・活用しており、すべてのステークホルダーの期待に応えるために、これらの情報資産を安心安全に保護する事は、経営上の最重要課題であると認識しています。</p>
                            </div>
                    </li>
                    <h2 id="faq__price" class="p-faq__tittle mt-sp-100">価格について</h2>
                    <li class="p-faq__item">
                        <div class="p-faq__lead-wrap">
                            <p class="p-faq__lead-head">Q.</p>
                        <p class="p-faq__lead">料金体系について教えてください。</p>
                    </div>
                        <div class="p-faq__answer-wrap">
                            <p class="p-faq__lead-head">A.</p>
                            <p class="p-faq__answer-text">料金体系については、お問い合わせください。</p>
                            </div>
                            <a href="/contacts/" class="c-btn blue mx-auto mt-30">
                                <span>お問い合わせ</span>
                              </a>
                    </li>
                    <h2 id="faq__support" class="p-faq__tittle mt-sp-100">サポート体制について</h2>
                    <li class="p-faq__item">
                        <div class="p-faq__lead-wrap">
                            <p class="p-faq__lead-head">Q.</p>
                        <p class="p-faq__lead">どのようにConataが導入されるのか、プロセスを教えてください。</p>
                    </div>
                        <div class="p-faq__answer-wrap">
                            <p class="p-faq__lead-head">A.</p>
                            <p class="p-faq__answer-text">まずお客様の抱える課題とデータの保有状況についてヒアリング・調査させていただき、最適なソリューションを協議・決定します。ソリューションの導入時は専任のコンサルタントがお客様と伴走し、運用開始後も定期的なミーティングを通して品質向上に努め、お客様の事業価値の向上を支援していきます。</p>
                            </div>
                            <a href="/case/" class="c-btn blue mx-auto mt-30">
                                <span>ご利用の流れ</span>
                              </a>
                    </li>
                    <li class="p-faq__item">
                        <div class="p-faq__lead-wrap">
                            <p class="p-faq__lead-head">Q.</p>
                        <p class="p-faq__lead">サポート体制について教えてください。</p>
                    </div>
                        <div class="p-faq__answer-wrap">
                            <p class="p-faq__lead-head">A.</p>
                            <p class="p-faq__answer-text">フライウィールは、ソリューション導入後のお客様のカスタマーサクセスも重視しています。ソリューション運用による事業価値の向上効果を可視化するだけでなく、定期的なミーティングを通して、お客様の新たな課題の設定や解決に伴走していきます。</p>
                            </div>
                    </li>
                    <h2 id="faq__contact" class="p-faq__tittle mt-sp-100">ご利用お申込みについて</h2>
                    <li class="p-faq__item">
                        <div class="p-faq__lead-wrap">
                            <p class="p-faq__lead-head">Q.</p>
                        <p class="p-faq__lead">Conata を利用したいのですが、どのように申し込めばよいですか？</p>
                    </div>
                        <div class="p-faq__answer-wrap">
                            <p class="p-faq__lead-head">A.</p>
                            <p class="p-faq__answer-text">お問い合わせフォームからご連絡ください。専任のコンサルタントよりご連絡します。</p>
                            </div>
                            <a href="/contacts/" class="c-btn blue mx-auto mt-30">
                                <span>お問い合わせ</span>
                              </a>
                    </li>
                    <li class="p-faq__item">
                        <div class="p-faq__lead-wrap">
                            <p class="p-faq__lead-head">Q.</p>
                        <p class="p-faq__lead">導入や運用のコンサルティングサービスはありますか？</p>
                    </div>
                        <div class="p-faq__answer-wrap">
                            <p class="p-faq__lead-head">A.</p>
                            <p class="p-faq__answer-text">はい、ございます。データ活用に関して、企画・戦略段階からの支援が可能です。また、運用面においてもデータに基づいた運用の効率化や業務設計のご支援も可能です。</p>
                            </div>
                            <a href="/solutions/" class="c-btn blue mx-auto mt-30">
                                <span>プロフェッショナルサービス</span>
                              </a>
                    </li>
                </ul>
            </div>
        </div>

    </section>

   
    </div>
    <!-- contents end -->

  <%- include(`${ROOT}_common/_footer.ejs`,{path: meta.path}) %>
  <%- include(`${ROOT}_common/_script.ejs`, {path: meta.path}) %>
</body>

</html>